name: Deployment

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy_on_dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2

      - name: Create customer Env file
        working-directory: ./customer
        run: |
          touch .env
          echo APP_SECRET=${{ secrets.DEPLOY_APP_SECRET }} >> .env
          echo MONGODB_URI=${{ secrets.DEPLOY_CUSTOMER_DB_URL }} >> .env
          echo MSG_QUEUE_URL=${{ secrets.DEPLOY_MSG_QUEUE_URL }} >> .env
          echo EXCHANGE_NAME=ONLINE_STORE >> .env
          echo PORT=8001 >> .env
          cat .env

      - name: Create Products Env file
        working-directory: ./products
        run: |
          touch .env
          echo APP_SECRET=${{ secrets.DEPLOY_APP_SECRET }} >> .env
          echo MONGODB_URI=${{ secrets.DEPLOY_PRODUCTS_DB_URL }} >> .env
          echo MSG_QUEUE_URL=${{ secrets.DEPLOY_MSG_QUEUE_URL }} >> .env
          echo EXCHANGE_NAME=ONLINE_STORE >> .env
          echo PORT=8002 >> .env
          cat .env

      - name: Create shopping Env file
        working-directory: ./shopping
        run: |
          touch .env
          echo APP_SECRET=${{ secrets.DEPLOY_APP_SECRET }} >> .env
          echo MONGODB_URI=${{ secrets.DEPLOY_SHOPPING_DB_URL }} >> .env
          echo MSG_QUEUE_URL=${{ secrets.DEPLOY_MSG_QUEUE_URL }} >> .env
          echo EXCHANGE_NAME=ONLINE_STORE >> .env
          echo PORT=8003 >> .env
          cat .env

      - name: Generate deployment package
        run: |
          zip -r deploy.zip . -x '*.git'

      - name: Deploy on Elastic beanstalk DEV Env
        uses: einaregilsson/beanstalk-deploy@v20
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: NUSISS_T10
          environment_name: NUSISST10-env
          version_label: "ver-${{ github.sha }}"
          region: ap-southeast-2
          deployment_package: deploy.zip
